# ---- For `file` mode ---------------------------------------------

# `file` or `server`
MODE=file

# Store
# For `file` mode, it's the file path to store the copied content.
# For `server` mode, it's the URL to fetch the content to be copied.
STORE=store.txt

# Line ending
# `LF` or `CRLF` or `CR`
LINE_ENDING_SAVING=CRLF

# ---- For `server` mode ---------------------------------------------

# Serve
PORT=5460
PM2_NAME=tcopy
