# ---- For server mode (client) --------------------------------------

# PM2 process name
PM2_NAME=tcopy-client

# Client local server port
PORT=5461

# Server base URL
# e.g., http://localhost:5460
SERVER_BASE_URL=

# Line ending
# `LF` or `CRLF` or `CR`
LINE_ENDING_SAVING=CR
