# Environment
# `server` or `client`
ENVIRONMENT=

# PM2 process name
PM2_NAME=tcopy

# Server port
PORT=5460

# Line ending
# `LF` or `CRLF` or `CR`
LINE_ENDING_SAVING=CR

# ---- For server mode (client) --------------------------------------

# Server base URL
# e.g., http://localhost:5460
SERVER_BASE_URL=
