# ---- For storage ---------------------------------------

# File storage path
STORAGE_PATH=./

# File path to save clipboard content
CLIPBOARD_FILE=.clipboard

# Line ending
# `LF` or `CRLF` or `CR`
LINE_ENDING_SAVING=CRLF
