# ---- For file mode -------------------------------------------------

# File path to save clipboard content
CLIPBOARD_FILE_PATH=clipboard.txt

# Line ending
# `LF` or `CRLF` or `CR`
LINE_ENDING_SAVING=CRLF
