# ---- For server mode (server) --------------------------------------

# PM2 process name
PM2_NAME=tcopy-server

# Server port
PORT=5460

# Line ending
# `LF` or `CRLF` or `CR`
LINE_ENDING_SAVING=CR
