# ---- For server mode (server) --------------------------------------

# Server port and PM2 process name
PORT=5460
PM2_NAME=tcopy-server

# Line ending
# `LF` or `CRLF` or `CR`
LINE_ENDING_SAVING=CR
